.user {
    margin-right: 20px;
}

.collapse {
    margin-right: 20px;
}

.card {
    margin: 5px;
}

.card:hover {
    outline: 3px solid rgb(103, 103, 255);
    transition: all 0.1s;
}

.custom-caption {
    background-color: rgba(0, 0, 0, 0.733);
}

.container {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 5px;
}